@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");
@import url("/asset/scss/utils/_vars.scss");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul, li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

body {
  position: relative;
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  margin: 0 auto;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Pretendard-Bold.woff") format("woff"), url("../font/Pretendard-Bold.otf") format("opentype"), url("../font/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: url("../font/Pretendard-SemiBold.woff") format("woff"), url("../font/Pretendard-SemiBold.otf") format("opentype"), url("../font/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Pretendard-Medium.woff") format("woff"), url("../font/Pretendard-Medium.otf") format("opentype"), url("../font/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Pretendard-Regular.woff") format("woff"), url("../font/Pretendard-Regular.otf") format("opentype"), url("../font/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  font-style: normal;
  src: url("../font/NanumSquareOTF_0.woff") format("woff"), url("../font/NanumSquareOTF_0.otf") format("opentype"), url("../font/NanumSquareOTF_0.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquare;
  font-weight: 600;
  font-style: normal;
  src: url("../font/NanumSquareOTF.woff") format("woff"), url("../font/NanumSquareOTF.otf") format("opentype"), url("../font/NanumSquareOTF.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquare;
  font-weight: 500;
  font-style: normal;
  src: url("../font/NanumSquareOTF_acR.woff") format("woff"), url("../font/NanumSquareOTF_acR.otf") format("opentype"), url("../font/NanumSquareOTF_acR.ttf") format("truetype");
}
@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  font-style: normal;
  src: url("../font/NanumSquareOTF_acL.woff") format("woff"), url("../font/NanumSquareOTF_acL.otf") format("opentype"), url("../font/NanumSquareOTF_acL.ttf") format("truetype");
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon.left-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.right-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/chevron_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-180deg);
}
.icon.bottom-arrow {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/bottom_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.bottom-arrow.on {
  transform: rotate(-180deg);
}
.icon.more {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.download {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/download.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.download-black {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/download_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus-white {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus-red {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus_red.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.plus-gray {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/plus_gray.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.settings {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/settings.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.done {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/done.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.cancel {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/cancel.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.logo {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.close {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.shield {
  width: 56px;
  height: 53px;
  background-image: url("../image/icon/shield.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.coin {
  width: 56px;
  height: 53px;
  background-image: url("../image/icon/coin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.gift {
  width: 59px;
  height: 54.66px;
  background-image: url("../image/icon/gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.coupon {
  width: 59px;
  height: 50px;
  background-image: url("../image/icon/coupon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.event {
  width: 59px;
  height: 50px;
  background-image: url("../image/icon/event.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.kakao {
  width: 25px;
  height: 25px;
  background-image: url("../image/icon/kakao.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.naver {
  width: 25px;
  height: 25px;
  background-image: url("../image/icon/naver.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon.tooltip {
  width: 22.67px;
  height: 22.67px;
  background-image: url("../image/icon/tool_tip.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 100%;
}

@media screen and (min-width: 751px) {
  body {
    background-color: #676767;
  }
  .is-web {
    display: block;
  }
  .is-web.main-bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url("../../asset/image/common/bg.png") no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .is-web .float-logo {
    position: absolute;
    z-index: 100;
    top: 2em;
    left: 1.5em;
  }
  .is-web .float-banner {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1.5em;
  }
  .is-web .sec-content {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 45%;
    height: 67vh;
    display: flex;
    border: 2px solid #000;
    margin: 2em 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .is-web .sec-content:after {
    content: "";
    z-index: 500;
    background: url("../../asset/image/common/deco_leaf.png") no-repeat 0 0;
    background-size: contain;
    width: 35%;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .is-web .sec-content .cnt-img {
    display: block;
  }
  .is-web .sec-content .cnt-device {
    display: flex;
    width: 63%;
  }
  .is-web .sec-content .cnt-input {
    width: 590px;
    position: relative;
  }
  .is-web .sec-content .cnt-input .input-010 {
    height: 70px;
  }
  .is-web .sec-content .cnt-input .input-cover {
    position: absolute;
    right: 0;
    top: 0;
  }
  .is-web .sec-content .cnt-input .input-here {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    height: 70px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    font-size: 50px;
  }
  .is-web .sec-content .cnt-checklist {
    position: relative;
    text-align: left;
    width: 61%;
    margin: 10px 0;
  }
  .is-web .sec-content .cnt-checklist .btn-more {
    position: absolute;
    right: 0;
    top: 0;
  }
  .is-web .sec-content .cnt-action {
    padding: 10px 0;
  }
  .is-web .sec-content .cnt-store {
    text-align: center;
  }
  .is-web .deco-left {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .is-web .deco-left .character-1 {
    position: absolute;
    left: 26.5%;
    top: 25.5%;
  }
  .is-web .deco-left .character-2 {
    position: absolute;
    left: 18.5%;
    top: 30.5%;
  }
  .is-web .deco-left .character-3 {
    position: absolute;
    left: 5%;
    top: 30.5%;
  }
  .is-web .deco-left .character-4 {
    position: absolute;
    left: -9.5%;
    top: 53%;
  }
  .is-web .deco-right {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .is-web .deco-right .character-1 {
    position: absolute;
    right: 29.5%;
    top: 27.8%;
  }
  .is-web .deco-right .character-2 {
    position: absolute;
    right: 25%;
    top: 23.5%;
  }
  .is-web .deco-right .character-3 {
    position: absolute;
    right: 17.7%;
    top: 32.5%;
  }
  .is-web .deco-right .character-4 {
    position: absolute;
    right: 1%;
    top: 37.5%;
  }
  .is-web .deco-right .character-5 {
    position: absolute;
    right: 3.5%;
    top: 55.5%;
  }
  .is-web .deco-right .character-6 {
    position: absolute;
    right: -3.3%;
    top: 53.5%;
  }
  .is-mobile {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  body {
    background-color: #ccc;
  }
  .is-web {
    display: none;
  }
  .is-mobile {
    display: block;
  }
}
input[type=checkbox] {
  display: none;
  margin-right: 8px;
}
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 2px;
}
input[type=checkbox]:checked + label {
  background-color: #fff;
}
input[type=checkbox]:checked + label:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../image/icon/check_fill.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  position: relative;
  width: 100%;
  height: 56px;
  border-radius: 40px;
}
.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.btn.bottom {
  width: calc(100% - 40px);
  position: absolute;
  left: 20px;
  bottom: 0;
}
.btn.black {
  height: 51px;
  background-color: #DCDEE0;
  bottom: 16px;
}
.btn.type-float {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 6px 0 24px 0;
}
.btn.type-float a {
  display: inline-block;
  border-radius: 40px;
}
.btn.type-float a.border {
  color: #017F69;
  border: 1px solid #017F69;
}
.btn.type-float a.default {
  color: #fff;
  background: #017F69;
  border: 1px solid #017F69;
}
.btn.naver {
  background-color: #2db400;
}
.btn.naver a {
  gap: 8px;
}
.btn.kakao {
  background-color: #ffeb00;
}
.btn.kakao a {
  color: #222;
  gap: 8px;
}
.btn.green {
  position: relative;
  margin: 0 auto 16px;
  border: 1px solid #017F69;
  background-color: rgba(1, 127, 105, 0.1019607843);
  width: calc(100% - 40px);
}
.btn.green a {
  color: #017F69;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn.plain-green {
  border-color: rgba(1, 127, 105, 0.1019607843);
}
.btn.pause {
  position: relative;
  margin: 0 auto 16px;
  width: calc(100% - 40px);
  height: auto;
}
.btn.pause a {
  background-color: rgba(226, 0, 0, 0.1019607843);
  height: 56px;
  border-radius: 40px;
  color: #E20000;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn.gray {
  position: relative;
  margin: 0 auto 16px;
  width: calc(100% - 40px);
  height: auto;
}
.btn.gray a {
  color: #ABABAB;
  background-color: #C9C9C9;
  height: 56px;
  border-radius: 40px;
  border: 1px solid #ABABAB;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn.outline {
  height: 51px;
  border: 1px solid #222;
}
.btn.outline a {
  color: #222;
}
.btn.underline a {
  color: #222;
  text-decoration: underline;
  padding-bottom: 0;
}
.btn.disable {
  margin: 66px 0 16px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  background-color: #c9c9c9;
}
.btn.disable a {
  height: 56px;
  color: #ababab;
  font-weight: 700;
}
.btn.gradation {
  margin: 13px 0 24px;
  box-sizing: border-box;
  background: linear-gradient(92.75deg, #00AB50 22.61%, #006B89 78.36%);
}
.btn.gradation a {
  height: 56px;
  box-sizing: border-box;
  gap: 8px;
}
.btn.pdf {
  background-color: #017F69;
}
.btn.pdf a {
  gap: 8px;
}
.btn.terms {
  padding: 24px 0 16px;
  background-color: #ededed;
  border-radius: 0;
}
.btn.terms a {
  height: 51px;
  background-color: #888;
  border-radius: 40px;
}
.btn.register {
  display: inline-block;
  width: 119px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 21px;
}
.btn.register a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px 16px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #888;
}
.btn.green-line {
  border: 1px solid #017F69;
  color: #017F69;
}
.btn.green-bg {
  background: #D1ECE2;
  border: none;
}
.btn.btn-small {
  height: 37px;
}
.btn.btn-small a {
  padding: 9px 0;
}
.btn.primary {
  background-color: #017F69;
  color: #fff;
}

@keyframes bounce {
  0% {
    top: -41px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -41px;
  }
}
.popup {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.popup .popup-title {
  padding: 12px 0;
  text-align: center;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #fff;
}
.popup .popup-cont {
  position: relative;
  padding: 32px 0;
  border-bottom: 1px solid #e6e6e6;
}
.popup .popup-cont .lottie {
  padding: 20px 0;
}
.popup .popup-cont .sub-text {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  text-align: center;
}
.popup .popup-cont .sub-text .app {
  height: 16px;
}
.popup .popup-cont .close {
  position: absolute;
  top: 0;
  right: 12px;
}
.popup .btn-go {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: calc(100% - 30px);
  background: #D1ECE2;
  color: #000;
  border-radius: 100px;
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: -0.38px;
  font-weight: 400;
  color: #222;
  padding: 11px 0;
}
.popup .btn-go img {
  height: 14.5px;
}
.popup .btn-go + .btn-go {
  margin-top: 10px;
}
.popup .btn-review {
  text-align: center;
  display: block;
  margin: 4px auto 0 auto;
  width: calc(100% - 30px);
  background: #DCDEE0;
  color: #000;
  border-radius: 100px;
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: -0.38px;
  font-weight: 400;
  color: #222;
  padding: 11px 0;
}
.popup .btn-review img {
  height: 14.5px;
}
.popup.naver .popup-title {
  background-color: #2db400;
}
.popup.kakao .popup-title {
  background-color: #ffeb00;
  color: #000;
}
.popup.logout, .popup.signout, .popup.one-btn {
  padding-top: 12px;
}
.popup.logout .popup-cont, .popup.signout .popup-cont, .popup.one-btn .popup-cont {
  padding-top: 0;
  padding-bottom: 28px;
}
.popup.error .popup-title, .popup.complete .popup-title {
  position: absolute;
  border-bottom: 1px solid #DCDEE0;
  padding: 8px 12px;
  font-family: "NanumSquare";
  font-size: 23px;
  line-height: 32.2px;
  letter-spacing: -0.46px;
  font-weight: 400;
  color: #000;
  width: 100%;
  text-align: left;
}
.popup.error .popup-title.h2, .popup.complete .popup-title.h2 {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 400;
  color: #000;
}
.popup.error .popup-cont, .popup.complete .popup-cont {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: none;
}
.popup.error .popup-cont .close, .popup.complete .popup-cont .close {
  position: absolute;
  top: 12px;
  right: 12px;
}
.popup.error .popup-cont .sub-text, .popup.complete .popup-cont .sub-text {
  display: inline-block;
  width: 100%;
  font-family: "NanumSquare";
  font-size: 21px;
  line-height: 29.4px;
  letter-spacing: -0.42px;
  font-weight: 400;
  color: #222;
  text-align: left;
  padding: 0 12px;
  box-sizing: border-box;
}
.popup.error .popup-cont .sub-text em, .popup.complete .popup-cont .sub-text em {
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: -0.3px;
  font-weight: 400;
  color: #222;
}
.popup.error .popup-cont.type-alert, .popup.complete .popup-cont.type-alert {
  padding-bottom: 90px;
}
.popup.error .popup-cont.type-alert:after, .popup.complete .popup-cont.type-alert:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 96px;
  height: 77px;
  bottom: 0;
  right: 40px;
  width: 96px;
  height: 77px;
  background-image: url("../image/common/ico_attention.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-public, .popup.complete .popup-cont.type-public {
  padding-bottom: 106px;
}
.popup.error .popup-cont.type-public:after, .popup.complete .popup-cont.type-public:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 96px;
  bottom: 10px;
  right: 40px;
  width: 90px;
  height: 96px;
  background-image: url("../image/common/ico_public.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-won, .popup.complete .popup-cont.type-won {
  padding-bottom: 106px;
}
.popup.error .popup-cont.type-won:after, .popup.complete .popup-cont.type-won:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 107px;
  height: 96px;
  bottom: 10px;
  right: 40px;
  width: 107px;
  height: 86px;
  background-image: url("../image/common/ico_won.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-review, .popup.complete .popup-cont.type-review {
  padding-bottom: 106px;
}
.popup.error .popup-cont.type-review:after, .popup.complete .popup-cont.type-review:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 118px;
  height: 95px;
  bottom: 10px;
  right: 40px;
  width: 118px;
  height: 95px;
  background-image: url("../image/common/ico_review.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-thanku, .popup.complete .popup-cont.type-thanku {
  padding-bottom: 86px;
}
.popup.error .popup-cont.type-thanku:after, .popup.complete .popup-cont.type-thanku:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 118px;
  height: 95px;
  bottom: 10px;
  right: 40px;
  width: 118px;
  height: 95px;
  background-image: url("../image/common/ico_thanku.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-forest, .popup.complete .popup-cont.type-forest {
  padding-bottom: 106px;
}
.popup.error .popup-cont.type-forest:after, .popup.complete .popup-cont.type-forest:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 118px;
  height: 95px;
  bottom: 10px;
  right: 40px;
  width: 118px;
  height: 95px;
  background-image: url("../image/common/ico_forest.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-trophy, .popup.complete .popup-cont.type-trophy {
  padding-bottom: 98px;
}
.popup.error .popup-cont.type-trophy:after, .popup.complete .popup-cont.type-trophy:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 118px;
  height: 95px;
  bottom: 20px;
  right: 20px;
  width: 118px;
  height: 95px;
  background-image: url("../image/common/ico_trophy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-note, .popup.complete .popup-cont.type-note {
  padding-bottom: 86px;
}
.popup.error .popup-cont.type-note:after, .popup.complete .popup-cont.type-note:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 118px;
  height: 95px;
  bottom: 10px;
  right: 40px;
  width: 118px;
  height: 95px;
  background-image: url("../image/common/ico_note.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-tree, .popup.complete .popup-cont.type-tree {
  padding-bottom: 56px;
}
.popup.error .popup-cont.type-tree:after, .popup.complete .popup-cont.type-tree:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 139px;
  height: 195px;
  bottom: 25px;
  right: 0px;
  width: 139px;
  height: 195px;
  background-image: url("../image/common/ico_tree.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .popup-cont.type-welcome, .popup.complete .popup-cont.type-welcome {
  padding-bottom: 120px;
}
.popup.error .popup-cont.type-welcome:after, .popup.complete .popup-cont.type-welcome:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 213px;
  height: 217px;
  bottom: 0;
  right: -5px;
  width: 213px;
  height: 217px;
  background-image: url("../image/common/ico_welcome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup.error .btn-wrap, .popup.complete .btn-wrap {
  padding: 0 0 30px 0;
  margin: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.popup.error .btn-kakao, .popup.complete .btn-kakao {
  width: 100%;
  text-align: center;
  background: #FAE100;
  font-family: "NanumSquare";
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.38px;
  font-weight: 400;
  color: #000;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
}
.popup.error .btn-kakao img, .popup.complete .btn-kakao img {
  height: 17px;
}
.popup.error .btn-naver, .popup.complete .btn-naver {
  width: 100%;
  text-align: center;
  background: #2CB24A;
  font-family: "NanumSquare";
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.38px;
  font-weight: 400;
  color: #fff;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
}
.popup.error .btn-naver img, .popup.complete .btn-naver img {
  height: 17px;
}
.popup.error .popup-btn .btn-submit, .popup.complete .popup-btn .btn-submit {
  display: block;
  width: calc(100% - 36px);
  background: #FF8C75;
  color: #000;
  border-radius: 100px;
  font-family: "NanumSquare";
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: -0.38px;
  font-weight: 400;
  color: #222;
  padding: 13px 0;
}
.popup.error .popup-close, .popup.complete .popup-close {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.popup.error .popup-close .btn-close, .popup.complete .popup-close .btn-close {
  font-family: "NanumSquare";
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #000;
  position: relative;
}
.popup.error .popup-close .btn-close:after, .popup.complete .popup-close .btn-close:after {
  content: "";
  position: absolute;
  left: -17px;
  top: 4px;
  width: 1px;
  height: 12px;
  background: #E5E5E5;
}
.popup.error .popup-close input[type=checkbox] + label, .popup.complete .popup-close input[type=checkbox] + label {
  vertical-align: middle;
}
.popup.error .popup-close .check .check-text, .popup.complete .popup-close .check .check-text {
  font-family: "NanumSquare";
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #000;
}
.popup.main {
  display: block;
  overflow: visible;
}
.popup.main .popup-cont {
  padding: 40px 20px;
}
.popup.main .popup-cont .close {
  top: 12px;
}
.popup.main .popup-cont .title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #222;
  margin-bottom: 32px;
}
.popup.main .popup-cont ul li {
  margin-bottom: 40px;
}
.popup.main .popup-cont ul li .title {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  font-weight: 700;
  color: #222;
  margin-bottom: 8px;
}
.popup.main .popup-cont ul li .cont-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #eee;
  border-radius: 8px;
  padding: 16px 9px;
}
.popup.main .popup-cont ul li .cont-box .text {
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.28px;
  font-weight: 400;
  color: #222;
  margin-right: 3px;
}
.popup.main .popup-cont ul li:last-child {
  margin-bottom: 0;
}
.popup.main .popup-btn {
  background-color: #017F69;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.popup.main .popup-btn span {
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 600;
  color: #fff;
}
.popup.main .input-box {
  position: absolute;
  bottom: -38px;
  left: 0;
}
.popup.main .input-box .check {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popup.main .input-box .check span {
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: #fff;
}
.popup .popup-btn {
  padding: 16px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: -0.36px;
  font-weight: 600;
  color: #000;
}
.popup .popup-btn.group span {
  width: 50%;
}
.popup .popup-btn.group span:first-child {
  position: relative;
  color: #ff0000;
}
.popup .popup-btn.group span:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 21px;
  background-color: #dcdee0;
}

.dimmed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.footer {
  text-align: center;
  padding: 5px 0 30px 0;
  color: #ABABAB;
  font-size: 12px;
  line-height: 1.4;
}
.footer span {
  display: block;
}/*# sourceMappingURL=main.css.map */