// 자동설정 영역 및 버튼 컨텐츠영역 추가
.auto-box {
  .title-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    .title {
      @include fontStyle(16px, 19.09px,700, $gray500);
    }
    button {
      width: 24px;
      height: 24px;
      padding: 0;
      span {
        width: 100%;
        height: 100%;
      }
    }
  }

  .setting-area.on {
    // margin-top: 16px;
    // border-top: 1px solid #eee;
    padding-top: 0;
    padding-bottom: 2px;
    .naver-btn {
      padding-top: 0;
      margin-bottom: 0;
      .naver {
        margin-bottom: 12px;
      }
    }
    .kakao-btn {
      margin-top: 0;
    }

    .btn {
      margin-bottom: 0;
    }
  }
  .ing {
 
    width: calc(100% - 0px);
    margin: 0 auto;
    &.kakao {
      border-top: 0;
    }
  }
}

//모영숲 올라올 때
.wood {
  .auto-box {
    margin: 0 auto;
    width: calc(100% - 40px);
    background-color: $white;
    border-radius: 12px;
    padding: 18.5px 0;
  }
  .setting-area {
    margin: 0 auto;
    width: calc(100% - 40px);

    .ing {
      &.naver {
        padding: 0;
        margin-bottom: 0;
      }
      &.kakao {
        padding-bottom: 0;
        border-top: none;
      }
    }
    &.on {
      .naver-btn{
        .naver {
         &.ing {
          margin-bottom: 0;
         }
        }
      }
    }
  }
  margin-bottom: 48px;
}
.sector {
  //sector-main 002 메인페이지
  &-main {
    padding: 12px 20px;
    .banner {
      width: 100%;
      height: 115px;
      @include backgroundImage(100%, 115px, "common/banner.png");
      border-radius: 16px;
      margin-bottom: 16px;
      .banner-img {
        width: 100%;
        height: 100%;
      }
    }
    .receipt {
      background-color: $white;
      border-radius: 16px;

      .receipt-cont {
        position: relative;
        padding-top: 10px;

        .download{
          display: flex;
          padding: 0 10px;
          justify-content: flex-end;
          a{
            margin-top: -10px;
            display: inline-block;
            font-size: 0;
            box-sizing: border-box;
            @include backgroundImage(36px, 36px, 'common/download.png', contain);
            background-position: center;
          }
        }
        .logo {
          padding: 10px 24px;
          text-align: center;
          margin: 0 auto;
          width: 203px;
          height: 40px;
          box-sizing: border-box;
          @include backgroundImage(155px, 30px, 'common/logo.png', contain);
          background-position: center;
        }

        .price {
          padding: 12px 0;
          text-align: center;
          @include fontStyle(14px, 19.6px, 400, #222);
        }
        .amount {
          @include fontStyle(18px, 25.2px, 700, #222);
        }
      }

      .cont-box {
        position: relative;
        padding-bottom: 12px;
        > div {
          padding: 12px 0;
          margin: 0 20px;
          box-sizing: border-box;

          table {
            width: 100%;
          }
          &.purchase-cont {
            @include fontStyle(14px, 19.6px, 400, #222);
            border-bottom: 1px solid #dcdee0;
            table {
              width: 100%;
    
              tr {
            
                height: 24px;
                &.title {
                  height: 32px;
                  td {
                    text-align: center;
                    padding-bottom: 12px;
                    height: 20px;

                    &:nth-child(2) {
                      text-align: left;
                    }
                    &:last-child {
                      text-align: right;
                    }
                  }
                }
    
                td {
                  padding-bottom: 4px;
                  vertical-align: middle;
                }
    
                &:last-child {
                  td {
                    padding-bottom: 12px;
                  }
                }
    
                &.item {
                  td {
                    &:nth-child(3) {
                      text-align: center;
                    }
                    &:last-child {
                      text-align: right;
                    }
                  }
                }
              }
            }
          }
    
          &.tax-cont,
          &.price-cont {
            padding: 4px 0;
            @include fontStyle(14px, 19.6px, 400, $gray400);
            border-bottom: 1px solid #dcdee0;
            td {
              height: 22px;
              text-align: right;
              &:first-child {
              padding-right: 10px;
              }
            }
          }
    
          &.total-cont {
            padding: 12px 0 0;
            tr {
              padding-bottom: 8px;
              td {
                @include fontStyle(16px, 22.4px, 700, #222);
                padding-top: 8px;
                height: 20px;
                &:last-child {
                  text-align: right;
                }
              }
            }
          }
    
          &.company-cont {
            
            .barcode {
              text-align: center;
              height: 70px;
              img {
                width: 245px;
                height: 70px;
              }
            }
            .barcode-num {
              text-align: center;
              @include fontStyle(12px, 22.4px, 400, #222);
            }
            .company-info {
              @include fontStyle(12px, 16.8px, 400, $gray400);
              padding-top: 12px;
              .info-box {
                display: flex;
      
                > ul {
                  width: 50%;
                  li {
                    padding: 2px 0;
                    height: 21px;
                    box-sizing: border-box;
                    &:nth-child(3) {
                      padding-top: 0;
                      padding-bottom: 4px;
                    }
                
                  }
                }

                &.second {
                  display: block;

                  p {
                   margin-bottom: 4px;
                   box-sizing: border-box;
                    height: 17px;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
            .point-state{
              margin: 15px 0 0 0;
              .btn{
                height: 51px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#2DB400;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
                img{
                  height:20px;
                  margin: -2px 6px 0 0;
                }
                &.complete{
                  border: 1px solid #2DB400;
                }
                &.disable{
                  color:#fff;
                }
                &.review{
                  border: 1px solid #2DB400;
                  background: #2DB400;
                  color:#fff;
                }
              }
            }
          }
    
       
        }
        &:before {
          content: '';
          display: inline-block;
          margin: 0 auto;
          @include backgroundImage(258px,100px,'common/logo.png',73%);
          position: absolute;
          top: calc(50% - 50px);
          left: 50%;
          transform: translateX(-50%);
          opacity: .1;
        }

       
      }

      .btn-cont {
        position: relative;
        z-index: 2;
        padding-top: 12px;
        padding-bottom: 40px;
        .btn-text {
          text-align: center;
          @include fontStyle(14px, 19.6px, 400, #222);
          margin-bottom: 12px;
        }
        .btn {
          position: relative;
          width: calc(100% - 40px);
          margin: 0 auto;
          margin-bottom: 12px;

          &.kakao {
            margin-bottom: 0;
          }
        }

        &.setting {
          padding-bottom: 22px;
        }
      }


  
       // 제주 공항 면세점인 경우 클래스 jeju 추가
       &.jeju {
        position: relative;
        &:before,
        &:after {
          content: '';
          display: inline-block;
          margin: 0 auto;
          @include backgroundImage(20px ,99%,'common/logo_hori.png', auto);
          background-repeat: no-repeat space;
          background-position: 0 0;
          position: absolute;
          top: 10px;
          left: 20px;
          width: 20spx;
          height: calc(100% - 20px);
          opacity: .1;
          z-index: 0;
        }

        &:after {
          left: auto;
          right: 20px;
        }

        .logo {
          padding: 10px 24px;
          text-align: center;
          margin: 0 auto;
          width: 203px;
          height: 40px;
          box-sizing: border-box;
          @include backgroundImage(155px, 30px, 'common/logo_jeju.png', contain);
          background-position: center;
        }

        .cont-box {
          &:before {
            display: none;
          }

         
        }
      }
    }
  }

  // sector-agree 008 약관동의
  &-agree {
    .title {
      display: flex;
      align-items: center;
      height: 200px;
      @include fontStyle(28px, 39.2px, 400);
      @include letterSpacing(28px);
      margin-bottom: 36px;
    }

    .agree-box {
      width: 100%;
      background-color: $white;
      border-radius: 12px;
      padding: 16px;
      margin-bottom: 80px;
      box-sizing: border-box;
      display: inline-block;
      .input-box {
        position: relative;
        width: 100%;
        .check {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 12px 8px;
          box-sizing: border-box;

          .check-text {
            @include fontStyle(16px, 19.09px, 400, #1b1b1b);
            @include letterSpacing(16px);
          }
          img{
            width: 17px;
            height: 17px;
          }
        }
        .agree-textarea{
          border: 1px solid #888888;
          background: #fff;
          border-radius: 8px;
          padding: 6px 12px;
          overflow: auto;
          height: 52px;
          font-size: 12px;
          line-height: 1.4;
          margin: 0 12px;
        }
      }

      .line {
        width: 100%;
       margin: 0;
        &:before {
          left: -25px;
        }
        &:after {
          right: -25px;
        }
      }
    }
    .btn {
      bottom: 16px;
    }
  }
  &-agree + .btn.bottom{
    position: fixed !important;
    bottom: 24px;
    top: auto;
    margin: 0 20px;
    width: calc(100% - 40px) !important;
  }
  &-club{
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include fontStyle(20px, 28px, 600);
      @include letterSpacing(28px);
      img{
        width: 95px;
        margin-bottom: 10px;
      }
    }
    .benefit{
      margin-top: 24px;
      p{
        @include fontStyle(18px, 25.2px, 600);
        margin-bottom: 6px;
      }
      .benefit-box{
        background: #EDEEEF;
        border-radius: 8px;
        padding:10px 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 14px;
        img{
          height:41px;
        }
        span{
          @include fontStyle(14px, 19.6px, 400);
     
        }
      }
    }
    .agree-box {
      width: 100%;
      background-color: $white;
      border-radius: 12px;
      padding: 16px 0;
      box-sizing: border-box;

      .input-box {
        position: relative;
        width: 100%;
        .check {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 6px 0;
          box-sizing: border-box;

          .check-text {
            @include fontStyle(16px, 19.09px, 400, #1b1b1b);
            @include letterSpacing(16px);
          }
        }
        a img{
          width: 17px;
          height: 17px;
        }
        .agree-textarea{
          border: 1px solid #888888;
          background: #fff;
          border-radius: 8px;
          padding: 6px 12px;
          overflow: auto;
          height: 52px;
          font-size: 12px;
          line-height: 1.4;
        }
      }
    }
  }

  //sector-terms 008-1
  &-terms {
    height: calc((var(--vh, 1vh) * 100 ) - 91px) !important;
    overflow-y: scroll;
    p {
      @include fontStyle(14px, 19.6px, 400, $gray500);
      margin-bottom: 20px;
    }

  }

  // sector-receipt 010 내역리스트
  &-receipt {
    .setting-box {
      padding: 24px 20px;
      background-color: $white;
      border-radius: 12px;
      margin: 1px 0 16px;

      .point-area {
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid $gray100;
        .point-title {
          @include fontStyle(20px, 23.87px, 700, #333);
          margin-bottom: 4px;
        }
        .sub-text {
          display: flex;
          align-items: center;
          justify-content: center;
          @include fontStyle(16px, 19.09px, 400, #333);
          .point {
            width: 100px;
            @include fontStyle(18px, 21.48px, 700, $primary);
          }
        }
      }
      .setting-area {
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .setting-title {
          @include fontStyle(16px, 19.09px, 400, #333);
        }
      }
    }

    .reciept-box {
      margin-top: 24px;

      .title {
        @include fontStyle(14px, 19.6px, 400, $gray500);
        text-align: center;
        margin-bottom: 8px;

        .slide-title {
          @include fontStyle(18px, 25.2px, 700, $gray500);
        }
      }

      .receipt-item {
        li {
          display: flex;
          justify-content: space-between;
          padding: 16px 0;
          border-bottom: 1px solid $gray100;
          .left {
            display: flex;
            align-items: center;
            gap: 12px;

            .item-info {
              span {
                display: block;

                &.store {
                  @include fontStyle(16px, 22.4px, 400, $gray500);
                }

                &.date {
                  @include fontStyle(14px, 19.6px, 400, $gray400);
                }
              }
            }
          }
          .right {
            .purchase-info {
              span {
                display: block;
                text-align: right;

                &.price {
                  @include fontStyle(16px, 22.4px, 700, $gray500);
                }
                &.price-cancel {
                  @include fontStyle(16px, 22.4px, 700, #E20000);
                  text-decoration: line-through;
                }
                &.purchase-state {
                  @include fontStyle(14px, 19.6px, 400, $gray400);
                }
                &.purchase-client {
                  text-align: right;
                  @include fontStyle(14px, 19.6px, 400, $gray400);
                  img{
                    display: inline-block;
                    height: 16px;
                    vertical-align: -3px;
                  }
                }
              }
            }
          }
        }
      }

      .slick-arrow {
        top: -32px;

        &:before {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
        }

        //.slick-arrow.slick-prev
        &.slick-prev {
          left: 50%;
          transform: translateX(-78px);
          @include backgroundImage(24px, 24px, ("icon/slick-left.svg"));
        }

        //.slick-arrow.slick-next
        &.slick-next {
          right: 50%;
          transform: translateX(78px);
          @include backgroundImage(24px, 24px, ("icon/slick-right.svg"));
        }
      }
    }
  }

  // sector-setting 011 설정
  &-setting {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .content-group {
      > div {
        background-color: $white;
        border-radius: 12px;
        padding: 15px 20px;
        margin-bottom: 13px;
        &:last-child {
          margin-bottom: 105px
        }
  
        .title-area {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;
          padding-bottom: 12px;
          @include fontStyle(16px, 19.6px, 400, $gray300);
          border-bottom : 1px solid $gray100;
          .title {
            margin-left: 4px;
          }
        }
  
        &.auto-box {
          padding-bottom: 4px;
          .state-area {
            .state {
              margin-top: 12px;
              .kakao {
                margin-bottom: 16px;
              }
            }
          }
          .setting-area {
            div {
              &:first-child{
                padding-top: 0;
                margin-bottom: 12px;
                border-bottom: 1px solid #eee;
                .ing{
                  padding: 16px 0 4px;
                }
              }
              &:last-child {
                margin-top: 12px;
                .ing {
                
                  &.kakao {
                    border-top: none;
                  }
                }
              }
            }
            .btn {
              &.kakao {
                margin-bottom: 25px;
              }
            }
          }
        }
        &:first-child {
          .title-area {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
   
  
        &.user-info-box {
          .info-area {
            table {
              width: 100%;
              tr{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                padding: 4px 0;
                box-sizing: border-box;
                td {
                  @include fontStyle(16px, 19.09px, 400, $gray500);
                }
              }
            }
          }
        }
  
        &.condition-box {
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            padding: 4px 0;
            box-sizing: border-box;
            @include fontStyle(16px, 19.09px, 400, $gray500);
          }
        }
  
        &.btn-group {
          background-color: transparent;
          border-radius: none;
          padding: 0;
        }
      }
    }
  }

  //sector-loading 스플래쉬
  &-loading {
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    .loading {
      &-area {
        box-sizing: border-box;
        margin-bottom: 60px;
      }
      &-title {
        text-align: center;
        @include fontStyle(18px, 25.2px, 800, $gray500);
      }
    }
  }


  //sector-login 로그인화면
  &-login {
    padding-top: 125px;

    .title {
      text-align: center;
      margin-bottom: 48px;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontStyle(28px, 39.2px,700,$gray500);
        margin-bottom: 27px;
        .icon {
          &.logo {
            width: 48px;
            height: 45px;
            margin-right: 4px;
          }
        }
      }
      .sub-text {
        @include fontStyle(20px, 28px,500,$gray500);
      }
    }

    .login-box {
      width: 100%;
      background-color: $white;
      border-radius: 12px;
      padding: 48px 16px;
      text-align: center;
      box-sizing: border-box;

      .icon-box {
        padding-bottom: 16px;
        .login-cont {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          margin-bottom: 18px;
  
          a{
            display: inline-block;
            padding: 7.5px;
            border-radius: 4px;
          }
        }

        .continue {
          a {
            @include fontStyle(16px, 19.09px, 400, $gray500);
          text-decoration: underline;
          }
        }
      }

      .line {
        width: 100%;
       margin: 0;
        &:before {
          left: -25px;
        }
        &:after {
          right: -25px;
        }
      }
    }
    
    .terms-box {
      padding-top: 16px;
      p {
        @include fontStyle(14px, 19.6px, 400, #888);

        a{
          text-decoration: underline;
        }
      }
    }
  }

  //sector-benefit 
  &-benefit {
    .main-title {
      display: flex;
      align-items: center;
      gap: 10px;
      @include fontStyle(20px, 28px, 700,#222);
      margin-bottom: 24px;

      .icon.tooltip {
        width: 16px;
        height: 16px;
        padding: 4px;
        box-sizing: border-box;
      }
    }

    ul {
      li {
        margin-bottom: 24px;
        .title {
          @include fontStyle(18px, 25.2px, 700, #222);
          margin-bottom: 8px;
        }
  
        .cont-box {
          background-color: $white;
          border-radius: 8px;
          padding: 16px 9px;
          display: flex;
          align-items: center;
          gap: 8px;
          @include fontStyle(14px, 19.6px, 400, $basic)
        }
      }
    }

    .agree-box {
      .check {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
      }
    }

    .btn-group {
      position: absolute;
      width: calc(100% - 40px);
      bottom: 0;
    }
  }
}

.msg-point{
  text-align: center;
  @include fontStyle(14px, 19.6px, 400);
  a{
    @include fontStyle(14px, 1, 600);
    border-bottom: 1px solid #000;
  }
  img{
    height: 15px;
  }
  em{
    font-style: normal;
    @include fontStyle(14px, 1, 600);
    border-bottom: 1px solid #000;
  }
}
.bubble-top{
  border: 1px solid #888888;
  border-radius: 8px;
  margin: 10px 66px;
  background: #fff;
  position: relative;
  &.type-full{
    margin: 10px 20px;

    &:after{
      content:"";
      @include backgroundImage(14px, 10px, 'common/ico_top.png', contain);
      background-position: 0 0;
      display: inline-block;
      width: 14px;
      height: 10px;
      position: absolute;
      top: -8px;
      left: 35%;
    }
  }
  &:after{
    content:"";
    @include backgroundImage(14px, 10px, 'common/ico_top.png', contain);
    background-position: 0 0;
    display: inline-block;
    width: 14px;
    height: 10px;
    position: absolute;
    top: -8px;
    left: calc(50% + 60px);
  }
}
.msg-text{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
}
.shop-list{
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: auto;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px; 
    li{
      width: calc(100% / 3);
      img{
        width: 100%;
      }
    }
  }
}
.footer{
  text-align: center;
  padding: 5px 0 30px 0;
  color:#ABABAB;
  font-size: 12px;
  line-height: 1.4;
  span{
    display: block;
  }
}
