@import url("/asset/scss/utils/_mixin.scss");


// 폰트 설정
body {
  position: relative;
  @include fontFace("Pretendard", 700, "normal", "Pretendard-Bold");
  @include fontFace("Pretendard", 600, "normal", "Pretendard-SemiBold");
  @include fontFace("Pretendard", 500, "normal", "Pretendard-Medium");
  @include fontFace("Pretendard", 400, "normal", "Pretendard-Regular");
  @include fontFace("NanumSquare", 700, "normal", "NanumSquareOTF_0");
  @include fontFace("NanumSquare", 600, "normal", "NanumSquareOTF");
  @include fontFace("NanumSquare", 500, "normal", "NanumSquareOTF_acR");
  @include fontFace("NanumSquare", 400, "normal", "NanumSquareOTF_acL");
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  background-color: $background;
  &.white{
    background-color: #fff;
  }
}

//카카오,네이버 배경색 지정
.kakao {
  background-color: $kakao;
  color: $gray500;
}

.naver {
  background-color: $naver;
  color:$white;
}

//아이콘들
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  &.left-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
  }
  &.right-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
    transform: rotate(-180deg)
  }
  &.bottom-arrow {
    @include backgroundImage(24px, 24px, "icon/bottom_arrow.svg");
  }
  &.bottom-arrow.on {
    transform: rotate(-180deg);
  }
  &.more {
    @include backgroundImage(24px, 24px, "icon/more.svg");
  }
  &.download{
    @include backgroundImage(24px, 24px, "icon/download.svg");
  }
  &.download-black{
    @include backgroundImage(24px, 24px, "icon/download_black.svg");
  }
  &.plus{
    @include backgroundImage(24px, 24px, "icon/plus.svg");
  }
  &.plus-white{
    @include backgroundImage(24px, 24px, "icon/plus_white.svg");
  }
  &.plus-red{
    @include backgroundImage(24px, 24px, "icon/plus_red.svg");
  }
  &.plus-gray{
    @include backgroundImage(24px, 24px, "icon/plus_gray.svg");
  }
  &.settings{
    @include backgroundImage(24px, 24px, "icon/settings.svg");
  }
  &.done{
    @include backgroundImage(24px, 24px, "icon/done.svg");
  }
  &.cancel{
    @include backgroundImage(24px, 24px, "icon/cancel.svg");
  }
  &.logo{
    @include backgroundImage(24px, 24px, "icon/logo.svg");
  }
  &.close {
    @include backgroundImage(24px, 24px, "icon/close.svg");
  }
  &.shield {
    @include backgroundImage(56px, 53px, "icon/shield.svg");
  }
  &.coin {
    @include backgroundImage(56px, 53px, "icon/coin.svg");
  }
  &.gift {
    @include backgroundImage(59px, 54.66px, "icon/gift.svg");
  }
  &.coupon {
    @include backgroundImage(59px, 50px, "icon/coupon.svg");
  }
  &.event {
    @include backgroundImage(59px, 50px, "icon/event.svg");
  }
  &.kakao {
    @include backgroundImage(25px, 25px, "icon/kakao.svg");
  }
  &.naver {
    @include backgroundImage(25px, 25px, "icon/naver.svg");
  }
  &.tooltip {
    @include backgroundImage(22.67px, 22.67px, "icon/tool_tip.png");
  }
}

// 페이지 높이 값
main {
  height: calc((var(--vh, 1vh) * 100 ) - 56px);


  &.full {
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 16px;
  }

  &.fix {
    height: auto;
  }

  &.flex {
    .inner {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .content {
        height: calc((var(--vh, 1vh) * 100 ) - 250px);
      }
      .btn.bottom {
        width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
        margin-bottom: 16px;
      }
    }
  }
}


// .inner 넓이 및 스타일 분기
.inner {
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  //.inner-wide
  &.wide {
    width: 100%;
    padding: 0;
  }

  &.receipt {
    width: calc(100% - 27px);
    padding: 0 13.5px;
  }
}

.content {
  height: 100%;
}

//표 중간에 들아가는 라인 이미지
.line {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  @include backgroundImage($basic, 20px, "common/line.png", contain);
  max-width: 480px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $background;
    border-radius: 50%;
  }

  &:before {
    left: -30px;
  }

  &:after {
    right: -30px;
  }
}


// 모영숲
.reciept-wood {
  margin: 20px 20px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 10px 0;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    .wood-title {
      @include fontStyle(24px,33.6px, 700, #222);
    }
    .icon.tootip {
      width: 37px;
      height: 37px;
      box-sizing: border-box;
      padding: 5.67px;
    }
  }
  .wood-text {
    margin: 0 auto;
    padding: 16px 0 0 0;
    @include fontStyle(16px, 22.4px, 400, #fff);
    margin-bottom: 8px;
    width: 288px;
    height: 90px;
    box-sizing: border-box;
    @include backgroundImage(288px, 90px, 'common/bg_wood.png', contain);
    background-position: center;
  }
  .wood-count {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto 8px;
    border-radius: 16px;
    background-color: $white;
    padding: 8px 0;
    @include fontStyle(16px, 22.4px, 400,#222);
    strong {
      font-weight: 700;
    }
  }
  
  .wood-state {
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    background-color: $white;
    ul {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: flex-end;
      gap: 8px;
      border-bottom:1px dashed $gray100;
      padding-bottom: 12px;
      li {
        width: 57px;
        &:last-child {
          width: 85px;
          margin-left: 15px;
        }
        img {
          opacity: .3;
          width: 100%;
        }

        &.on {
          img {
            opacity: 1;
          }
        }
      }

      .wood-countdown {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        width: 112%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
         
    p {
      color:$white;
      @include fontStyle(24px, 33.6px, 700, $white);
    }
      }
    }

    .wood-total {
      margin-top: 12px;
      @include fontStyle(16px, 22.4px, 400,#222);
      strong {
        font-weight: 700;
      }
    }
    .wood-btn{
      margin: 15px 0 5px 0;
      a{
        background: #D1ECE2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        img{
          height: 34px;
          margin-right: 4px;
        }
      }
    }
  }
  .club_unstart{
    display: flex;
    flex-direction: column;
  }
  .club_start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    .wood-total {
      margin-top: 12px;
      @include fontStyle(16px, 22.4px, 400,#222);
      strong {
        font-weight: 700;
      }
    }
    .wood-btn{
      margin: 15px 0 5px 0;
      a{
        background: #D1ECE2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        height: 36px;
        padding: 0 6px 0 2px;
        img{
          height: 24px;
        }
      }
    }
  }
}