@import url("/asset/scss/utils/_mixin.scss");


// 폰트 설정
body {
  position: relative;
  @include fontFace("Pretendard", 700, "normal", "Pretendard-Bold");
  @include fontFace("Pretendard", 600, "normal", "Pretendard-SemiBold");
  @include fontFace("Pretendard", 500, "normal", "Pretendard-Medium");
  @include fontFace("Pretendard", 400, "normal", "Pretendard-Regular");
  @include fontFace("NanumSquare", 700, "normal", "NanumSquareOTF_0");
  @include fontFace("NanumSquare", 600, "normal", "NanumSquareOTF");
  @include fontFace("NanumSquare", 500, "normal", "NanumSquareOTF_acR");
  @include fontFace("NanumSquare", 400, "normal", "NanumSquareOTF_acL");
  font-family: "Pretendard", "맑은고딕", Arial, sans-serif;
  margin: 0 auto;
}


//아이콘들
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  &.left-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
  }
  &.right-arrow {
    @include backgroundImage(24px, 24px, "icon/chevron_left.svg");
    transform: rotate(-180deg)
  }
  &.bottom-arrow {
    @include backgroundImage(24px, 24px, "icon/bottom_arrow.svg");
  }
  &.bottom-arrow.on {
    transform: rotate(-180deg);
  }
  &.more {
    @include backgroundImage(24px, 24px, "icon/more.svg");
  }
  &.download{
    @include backgroundImage(24px, 24px, "icon/download.svg");
  }
  &.download-black{
    @include backgroundImage(24px, 24px, "icon/download_black.svg");
  }
  &.plus{
    @include backgroundImage(24px, 24px, "icon/plus.svg");
  }
  &.plus-white{
    @include backgroundImage(24px, 24px, "icon/plus_white.svg");
  }
  &.plus-red{
    @include backgroundImage(24px, 24px, "icon/plus_red.svg");
  }
  &.plus-gray{
    @include backgroundImage(24px, 24px, "icon/plus_gray.svg");
  }
  &.settings{
    @include backgroundImage(24px, 24px, "icon/settings.svg");
  }
  &.done{
    @include backgroundImage(24px, 24px, "icon/done.svg");
  }
  &.cancel{
    @include backgroundImage(24px, 24px, "icon/cancel.svg");
  }
  &.logo{
    @include backgroundImage(24px, 24px, "icon/logo.svg");
  }
  &.close {
    @include backgroundImage(24px, 24px, "icon/close.svg");
  }
  &.shield {
    @include backgroundImage(56px, 53px, "icon/shield.svg");
  }
  &.coin {
    @include backgroundImage(56px, 53px, "icon/coin.svg");
  }
  &.gift {
    @include backgroundImage(59px, 54.66px, "icon/gift.svg");
  }
  &.coupon {
    @include backgroundImage(59px, 50px, "icon/coupon.svg");
  }
  &.event {
    @include backgroundImage(59px, 50px, "icon/event.svg");
  }
  &.kakao {
    @include backgroundImage(25px, 25px, "icon/kakao.svg");
  }
  &.naver {
    @include backgroundImage(25px, 25px, "icon/naver.svg");
  }
  &.tooltip {
    @include backgroundImage(22.67px, 22.67px, "icon/tool_tip.png");
  }
}

.content {
  height: 100%;
}

@media screen and (min-width: 751px) {
  body{
    background-color: #676767;
  }
  .web{
    display: block;
  }
  .mobile{
    display: none;
  }
}
@media screen and (max-width: 750px) {
  body{
    background-color: #ccc;
  }
  .web{
    display: none;
  }
  .mobile{
    display: block;
  }
}